SUPABASE_PROJECT_ID="yceuuvetlftollleausx"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_xdFCwK3fXmFeFQbuilXTiQ_aa5Pqrvh"
SUPABASE_URL="https://yceuuvetlftollleausx.supabase.co"
VITE_SUPABASE_PROJECT_ID="yceuuvetlftollleausx"
VITE_SUPABASE_PUBLISHABLE_KEY="sb_publishable_xdFCwK3fXmFeFQbuilXTiQ_aa5Pqrvh"
VITE_SUPABASE_URL="https://yceuuvetlftollleausx.supabase.co"
